@model Lecture_5.Models.Entity.Customer
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<span class="text-danger">@ViewBag.Messege</span>

<form action="/Home/Login" method="post">
    <input type="text" name="Phone" placeholder="Phone Number" class="form-control" />
    @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
    <br />

    <input type="password" name="Password" placeholder="password" class="form-control" />
    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    <br />
    <input type="submit" value="Log In" class="btn btn-primary" />
</form>