
@{
    ViewBag.Title = "Bio";
}

<h2>Bio</h2>

<div class="container">
    <h4>
        To put my experience and skills to good use, to take advantage of any opportunities for professional
        development, and to contribute in the most effective way to the betterment of the organization and myself.
    </h4>
</div>