
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>
<div class="container">
    <h4><b>Bachelor of Science (B.Sc.) in Computer Science and Engineering (4 years)</b></h4>
    <br />
   
    <table class="table table-hover  ">
        <tr>
            <td>Institution</td>
            <td>American International University-Bangladesh (AIUB)</td>
        </tr>
        <tr>
            <td>Department </td>
            <td>Computer Science and Engineering</td>
        </tr>
        <tr>
            <td>CGPA </td>
            <td>3.83 (out of 4.00)</td>
        </tr>
        <tr>
            <td>Passing Year</td>
            <td>Ongoing, expected graduation 2021-2022, FALL </td>
        </tr>

    </table>
    

</div>

<div class="container">
    <h4><b>Higher Secondary Certificate (H.S.C) (2 years)</b></h4>
    <br />

    <table class="table table-hover  ">
        <tr>
            <td>Institution</td>
            <td>Dhaka City College, Dhaka</td>
        </tr>
        <tr>
            <td>Board </td>
            <td>Dhaka</td>
        </tr>
        <tr>
            <td>Group   </td>
            <td>Science</td>
        </tr>
        <tr>
            <td>GPA</td>
            <td>5.00 (out of 5.00)</td>
        </tr>
        <tr>
            <td>Passing Year</td>
            <td>2016</td>
        </tr>

    </table>


</div>

<div class="container">
    <h4><b>Secondary School Certificate (S.S.C) (10 years)</b></h4>
    <br />

    <table class="table table-hover  ">
        <tr>
            <td>Institution</td>
            <td>Thakurgaon Govt. Boys’ High School</td>
        </tr>
        <tr>
            <td>Board </td>
            <td>Dinajpur</td>
        </tr>
        <tr>
            <td>Group   </td>
            <td>Science</td>
        </tr>
        <tr>
            <td>GPA</td>
            <td>5.00 (out of 5.00)</td>
        </tr>
        <tr>
            <td>Passing Year</td>
            <td>2014</td>
        </tr>

    </table>


</div>
