
@{
    ViewBag.Title = "PersonalInfo";
}

<h2>Personal Details</h2>

<div class="container ">

    <table class="table table-bordered table-striped">
        <tr>
            <td>Name</td>
            <td>Md. Rasel</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>Plot# 412, Road# 3, Block H, Bashundhara R-A, Dhaka</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>rasel.aiub990@gmail.com</td>
        </tr>
        <tr>
            <td>Phone No</td>
            <td>+8801767227082</td>
        </tr>
        <tr>
            <td>Nationality</td>
            <td>Bangladeshi</td>
        </tr>

        <tr>
            <td>Date of Birth</td>
            <td>7 April 1998</td>
        </tr>

    </table>


</div>


