
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<div class="container ">

    <table class="table table-bordered table-striped">
        <tr>
            <td>Airline Management System Using Oracle Database</td>
        </tr>
        <tr>
            <td>Library Management System Using Java</td>
        </tr>
        <tr>
            <td>Blood Bank Management System Using C#</td>
        </tr>
        <tr>
            <td>Hotel Management System Using HTML, CSS, JAVA SCRIPT, PHP</td>
        </tr>
        <tr>
            <td>Industryal-An-ERP-System Using Laravel and React.js</td>
        </tr>

        <tr>
            <td>Gym Management System Using PHP and Oracle Database</td>
        </tr>

    </table>


</div>

