
@{
    ViewBag.Title = "Referance";
}

<h2>Referance</h2>

<div class="container-fluid">
    <pre>
        DR. Dip Nandi
        Associate Professor and Director
        Faculty of Science and Technology
        American International University-Bangladesh (AIUB)
        E-mail: dip.nandi@aiub.edu
     </pre>

</div>

