
@{
    ViewBag.Title = "Technical Skills";
}

<h2>Technical Skills</h2>

<div class="container">

    <table class="table table-bordered table-striped">
        <tr>
            <td>Programing Language</td>
            <td>C, C++, C#, JAVA, Assembly</td>
        </tr>
        <tr>
            <td>Markup & Scripting Language</td>
            <td>HTML, CSS, JAVA SCRIPT, PHP</td>
        </tr>
        <tr>
            <td>Database</td>
            <td>Oracle, SQL, MySQL</td>
        </tr>
        <tr>
            <td>Software </td>
            <td>
                MATLAB, Auto CAD, Code Blocks, Visual studio, Cisco Packet Tracer,UMLet,Multisim,Proteous
            </td>
        </tr>
        <tr>
            <td>Framework </td>
            <td>Laravel, React.js</td>
        </tr>

        <tr>
            <td>Application Programs</td>
            <td>Microsoft Word, Microsoft Excel, Microsoft PowerPoint</td>
        </tr>

    </table>


</div>

