
@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<table class="table table-bordered">
    <tr>
        <td>Name</td>
        <td>Id</td>
        <td>Dob</td>
    </tr>
    <tr>
        <td>Rasel</td>
        <td>123</td>
        <td>07.04.1998</td>
    </tr>
    <tr>
        <td>Nafis</td>
        <td>124</td>
        <td>07.04.1999</td>
    </tr>
</table>
