@model ORM.Models.Student
@{ 
    ViewBag.Message = "Delete";
}

<h2>Index</h2>
<form action="/Student/Delete" method="Post">
    <h2>Are you sure to delete the following?</h2>
    <h3>Name: @Model.Name</h3>
    <h3>Id: @Model.Id</h3>
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="submit" value="Delete" />
</form>
